<div class="jumbotron text-center" ng-controller="barController as bCtrlr">
    <h1>Bar Chart</h1>


    <p>{{bCtrlr.message}}</p>

    <div class="container text-center" ng-hide='bCtrlr.isActive'>


        <form data-ng-submit="bCtrlr.submitQuery()">
            <div class="form-group">
                <label for="endDate">End Date</label><br/>
                <input required data-ng-model="bCtrlr.query.endDate" type="text" id="endDate"
                       name="endDate" placeholder="2015-10-31" autocomplete="on"/>
            </div>

            <div class="form-group">
                <label for="endDate">Time Span</label><br/>
                <input required data-ng-model="bCtrlr.query.timeSpan" type="text" id="timeSpan"
                       name="timeSpan" placeholder="last30days" autocomplete="on"/>
            </div>

            <br/>
            <button type="submit" class="btn btn-large btn-primary">Submit</button>
            <button type="reset" data-ng-click='bCtrlr.clearForm()' class="btn btn-large btn-primary">Clear</button>

        </form>
    </div>

    <div ng-show='bCtrlr.isActive'>
        <button type="reset" data-ng-click='bCtrlr.clearForm()' class="btn btn-large btn-primary">Unhide Form</button>
        <br/>
        <br/>

        <canvas id="radar" class="chart chart-bar" chart-data="bCtrlr.chartData.data"
                chart-labels="bCtrlr.chartData.labels" chart-legend="false" chart-series="bCtrlr.chartData.series">
        </canvas>
    </div>

</div>