<div class="jumbotron text-center" ng-controller="radarController as rCtrlr">
    <h1>Radar Chart</h1>


    <p>{{rCtrlr.message}}</p>

    <div class="container text-center" ng-hide='rCtrlr.isActive'>


        <form data-ng-submit="rCtrlr.submitQuery()">
            <div class="form-group">
                <label for="endDate">End Date</label><br/>
                <input required data-ng-model="rCtrlr.query.endDate" type="text" id="endDate"
                       name="endDate" placeholder="2015-10-31" autocomplete="on"/>
            </div>

            <div class="form-group">
                <label for="endDate">Time Span</label><br/>
                <input required data-ng-model="rCtrlr.query.timeSpan" type="text" id="timeSpan"
                       name="timeSpan" placeholder="last30days" autocomplete="on"/>
            </div>

            <br/>
            <button type="submit" class="btn btn-large btn-primary">Submit</button>
            <button type="reset" data-ng-click='rCtrlr.clearForm()' class="btn btn-large btn-primary">Clear</button>

        </form>
    </div>

    <div ng-show='rCtrlr.isActive'>
        <button type="reset" data-ng-click='rCtrlr.clearForm()' class="btn btn-large btn-primary">Unhide Form</button>
        <br/>
        <br/>

        <canvas id="radar" class="chart chart-radar" chart-data="rCtrlr.chartData.data"
                chart-labels="rCtrlr.chartData.labels" chart-legend="false" >
        </canvas>
    </div>

</div>
